@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
}

body {
    font-family: "Montserrat";
    color: #1b1b1b;
    background: #F2F2F2;
    background: linear-gradient(336deg,rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);    
}

hr {
    margin-left: 2rem;
    margin-right: 2rem;
}

.navbar-nav {
    gap: 2rem;
}

.nav-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
    font-size: 0.9em;
    transition: color 0.1s ease-in;
}

.nav-item a:hover {
    color: #1993de;
}

.main {
    padding: 1.5rem;
}

.page-title {
    color: #1b3f99;  
    margin-bottom: 0.5rem; 
    font-weight: 600; 
    font-size: 2em;
}

.btn-blue {
    border: solid transparent 2px;
    background-color: #1b3f99;
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    padding: 0.7rem;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.btn-blue:hover {    
    background-color: transparent;
    border: solid #1b3f99 2px;
    color: #1b3f99;
}

.btn-blue:active, .btn-blue:focus {
    outline: none;
}

.box {
    width: fit-content;
}

label {
    display: block;
    font-size: 0.7rem;
    margin: 0;
}

.form-control {
    background-color: transparent;
    border: none;
    border-bottom: solid #1993de 1px;    
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.link-icon {
    color: #1993de;
    transition: all 0.1s ease-in;
}

.link-icon:hover {
    text-decoration: none;
}

.link-icon svg {
    height: 1rem;
    width: auto;
    margin-bottom: 4px;
}

.table-header {
    font-weight: 600;
    border-bottom: solid #1993de 1px !important; 
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #1993de;
}

.table-button {
    border: none;
    background-color: transparent;
    cursor: pointer;    
}

.table-button:focus {
    outline: none;
}

.table-button img {
    width: 20px;
}

.table-icon-alert {
    width: 20px;
    margin-bottom: 4px;
}
